<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
</head>
<body>

    <h2>Вход</h2>

    <form method="POST">

        <input type="email" name="email" placeholder="Email" required><br>

        <input type="password" name="password" placeholder="Пароль" required><br>

        <button type="submit">Вход</button>
    </form>

    <a href="/signup">Регистрация</a>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div style="color:red;">{{ messages[0] }}</div>
        {% endif %}
    {% endwith %}

</body>
</html>